*.debhelper
*.substvars
files
libsox-dev
libsox-dev.debhelper.log
libsox-fmt-all
libsox-fmt-all.debhelper.log
libsox-fmt-alsa
libsox-fmt-alsa.debhelper.log
libsox-fmt-ao
libsox-fmt-ao.debhelper.log
libsox-fmt-base
libsox-fmt-base.debhelper.log
libsox-fmt-mp3
libsox-fmt-mp3.debhelper.log
libsox-fmt-oss
libsox-fmt-oss.debhelper.log
libsox-fmt-pulse
libsox-fmt-pulse.debhelper.log
libsox1a
libsox1a.debhelper.log
sox
sox.debhelper.log
stamp-*
tmp
