Source: sox
Section: sound
Priority: optional
Maintainer: Pascal Giard <pascal@debian.org>
Uploaders: Guenter Geiger (Debian/GNU) <geiger@debian.org>
Build-Depends: debhelper (>= 1.2.64), cdbs, libltdl3-dev, libvorbis-dev, libmad0-dev, libgsm1-dev, libsndfile1-dev (>= 1.0.12), libsamplerate0-dev, libavcodec-dev (>= 0.cvs20070301), libavformat-dev, libavutil-dev, libwavpack-dev, libao-dev, libid3tag0-dev, ladspa-sdk, libasound2-dev [!kfreebsd-i386 !kfreebsd-amd64 !hurd-i386]
Standards-Version: 3.8.0

Package: sox
Section: sound
Architecture: any
Depends: ${shlibs:Depends}, libsox-fmt-base, libsox-fmt-alsa | libsox-fmt-ao | libsox-fmt-oss
Suggests: libsox-fmt-all
Homepage: http://sox.sourceforge.net
Description: Swiss army knife of sound processing
 SoX is a command line utility that can convert various formats of computer 
 audio files in to other formats. It can also apply various effects to these 
 sound files during the conversion. As an added bonus, SoX can play and record 
 audio files on several unix-style platforms.
 .
 SoX is able to handle formats like Ogg Vorbis, MP3, WAV, AIFF, VOC, SND, AU,
 GSM and several more.
 Any format support requires at least libsox-fmt-base. Some formats have their
 own package e.g. mp3 read support is provided by libsox-fmt-mp3.
 .
 SoX supports most common sound architectures i.e. Alsa, Libao and OSS
 (provided by libsox-fmt-alsa, libsox-fmt-ao and libsox-fmt-oss). It also
 supports LADSPA plugins.

Package: libsox1
Architecture: any
Section: sound
Depends: ${shlibs:Depends}
Recommends: libsox-fmt-base, libsox-fmt-alsa | libsox-fmt-ao | libsox-fmt-oss
Conflicts: libsox0
Suggests: libsox-fmt-all
Homepage: http://sox.sourceforge.net
Description: SoX library
 SoX is the swiss army knife of sound processing.
 .
 This package contains the SoX library.
 .
 Any format support requires at least libsox-fmt-base.
 Sound card I/O requires libsox-fmt-alsa, libsox-fmt-ao or libsox-fmt-oss.

Package: libsox-fmt-base
Architecture: any
Section: sound
Depends: ${shlibs:Depends}
Homepage: http://sox.sourceforge.net
Replaces: libsox-fmt-gsm, libsox-fmt-sndfile
Description: Minimal set of SoX format libraries
 SoX is the swiss army knife of sound processing.
 .
 This package contains most audio formats libraries supported by SoX.

Package: libsox-fmt-alsa
Architecture: any
Section: sound
Depends: ${shlibs:Depends}
Homepage: http://sox.sourceforge.net
Description: SoX alsa format I/O library
 SoX is the swiss army knife of sound processing.
 .
 This package contains the SoX alsa format I/O library.
 .
 alsa: http://www.alsa-project.org

Package: libsox-fmt-ao
Architecture: any
Section: sound
Depends: ${shlibs:Depends}
Homepage: http://sox.sourceforge.net
Description: SoX Libao format I/O library
 SoX is the swiss army knife of sound processing.
 .
 This package contains the SoX Libao format I/O library.
 .
 libao: http://xiph.org/ao

Package: libsox-fmt-ffmpeg
Architecture: any
Section: sound
Depends: ${shlibs:Depends}
Homepage: http://sox.sourceforge.net
Description: SoX ffmpeg format library
 SoX is the swiss army knife of sound processing.
 .
 This package contains the SoX ffmpeg format library.
 .
 ffmpeg: http://ffmpeg.sourceforge.net

Package: libsox-fmt-mp3
Architecture: any
Section: sound
Depends: ${shlibs:Depends}
Homepage: http://sox.sourceforge.net
Description: SoX MP3 format library
 SoX is the swiss army knife of sound processing.
 .
 This package contains the SoX MP3 format library.
 Read support by libmad. Write support not available yet.
 .
 libmad: http://www.underbit.com/products/mad/

Package: libsox-fmt-oss
Architecture: any
Section: sound
Depends: ${shlibs:Depends}
Homepage: http://sox.sourceforge.net
Description: SoX OSS format I/O library
 SoX is the swiss army knife of sound processing.
 .
 This package contains the SoX OSS format I/O library.

Package: libsox-fmt-all
Architecture: any
Section: sound
Depends: libsox-fmt-base, libsox-fmt-ffmpeg, libsox-fmt-mp3, libsox-fmt-alsa, libsox-fmt-ao, libsox-fmt-oss
Homepage: http://sox.sourceforge.net
Description: All SoX format libraries
 SoX is the swiss army knife of sound processing.
 .
 This is a metapackage depending on all free SoX format libraries.

Package: libsox-dev
Architecture: any
Section: libdevel
Depends: libsox0 (=${binary:Version}), libsox-fmt-all (=${binary:Version}), ${shlibs:Depends}
Homepage: http://sox.sourceforge.net
Description: Development files for the SoX library
 SoX is the swiss army knife of sound processing.
 .
 This package contains the development files for the SoX library.
