#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_TAR_SRCDIR := sox-14.3.1

include /usr/share/cdbs/1/rules/tarball.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

CFLAGS += -D_REENTRANT
CPPFLAGS += -I/usr/include/ffmpeg
DEB_CONFIGURE_EXTRA_FLAGS := --without-lame --with-distro="Debian GNU/Linux" --with-dyn-default --without-amrwb --without-amrnb
# Takes care of postinst-has-useless-call-to-ldconfig for libsox-fmt-*
DEB_DH_MAKESHLIBS_ARGS := -Xfmt
